<!-- Header Starts-->
<div class="rds-main-header mdc-elevation--z4">
  <div class="rds-header-left">
    <div class="rds-logo" (click)="onClickHome()">
      {{ title }}<span class="rds-logo-title-small">{{ titleSmall }}</span>
    </div>
    <div class="rds-nav-bar-container">
      <div
        class="rds-nav-bar-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/">
        Home
      </div>
      <div
        class="rds-nav-bar-item"
        routerLinkActive="active"
        routerLink="/orders">
        Orders
      </div>
    </div>
  </div>

  <div class="rds-search-container">
    <input
      type="text"
      class="rds-search-txt"
      placeholder="Search"
      [(ngModel)]="searchItem" />
    <div
      class="rds-search-btn fas fa-search"
      title="Search"
      (click)="onClickSearch()"></div>
  </div>
</div>
<!-- Header Ends-->
<div class="rds-app-body-container" *ngIf="finalData.length">
  <!-- Card Starts-->
  <div
    class="rds-card-container mdc-elevation--z2"
    *ngFor="let item of finalData">
    <div class="rds-card-head">
      <img [src]="item.styleImages.default.imageURL" class="rds-card-image" />
    </div>
    <div class="rds-card-body">
      <div class="rds-card-body-top">
        <div class="rds-card-title" title="{{ item.productDisplayName }}">
          {{ getShortName(item.productDisplayName, 25) }}
        </div>
        <div
          class="rds-card-desc"
          title="{{ getHtmlToText(item.productDescriptors.description.value) }}"
          innerHTML="{{
            getShortName(item.productDescriptors.description.value)
          }}"></div>
      </div>
      <div class="rds-card-price">${{ item.price }}</div>
      <div
        class="rds-card-btn mdc-elevation--z2"
        [appHoverCssClass]="'mdc-elevation--z4'"
        (click)="onClickAddToCart(item)">
        Add to cart
      </div>
    </div>
  </div>
  <!-- Card Ends-->
</div>

<!-- No Data  -->
<div class="rds-no-data" *ngIf="!finalData.length && !showLoader">
  {{ lblNoData }}
</div>
<!-- Cart Starts-->
<div class="rds-cart-main-container" *ngIf="showCart">
  <div class="rds-cart-container mdc-elevation--z8">
    <div class="rds-cart-head mdc-elevation--z4">
      <div>
        <span class="fas fa-shopping-cart"></span>
        <span class="rds-cart-head-title">{{ cartTitle }}</span>
      </div>
      <div
        class="rds-cart-close fas fa-times"
        title="Close"
        (click)="onClickCartToggle(false)"></div>
    </div>
    <div class="rds-cart-body">
      <div
        class="rds-cart-tile-container mdc-elevation--z2"
        *ngFor="let item of carts">
        <div class="rds-cart-top">
          <div class="rds-cart-tile-left">
            <img
              [src]="item.styleImages.default.imageURL"
              class="rds-cart-img" />
          </div>
          <div class="rds-cart-tile-right">
            <div class="rds-cart-title">{{ item.productDisplayName }}</div>
            <div
              class="rds-cart-desc"
              title="{{
                getHtmlToText(item.productDescriptors.description.value)
              }}"
              innerHTML="{{
                getShortName(item.productDescriptors.description.value)
              }}"></div>
          </div>
        </div>
        <div class="rds-cart-footer">
          <div class="rds-cart-price">${{ item.price * item.quantity }}</div>
          <div class="rds-cart-quantity-container">
            <div
              class="rds-cart-quantity-icon fas fa-minus"
              (click)="onClickQuantityIcon(item)"></div>
            <div class="rds-cart-quantity">{{ item.quantity || 1 }}</div>
            <div
              class="rds-cart-quantity-icon fas fa-plus"
              (click)="onClickQuantityIcon(item, true)"></div>
          </div>
          <div
            class="rds-cart-delete fas fa-trash"
            title="Remove"
            (click)="onClickRemoveFromCart(item)"></div>
        </div>
      </div>
    </div>
    <div
      class="rds-cart-checkout mdc-elevation--z2"
      [appHoverCssClass]="'mdc-elevation--z4'"
      (click)="onClickBuyNow()">
      Buy Now
    </div>
  </div>
</div>
<!-- Cart Ends-->
<div
  *ngIf="carts.length"
  class="rds-cart-icon fas fa-shopping-cart mdc-elevation--z2"
  [appHoverCssClass]="'mdc-elevation--z4'"
  (click)="onClickCartToggle(true)">
  <span class="rds-cart-count">{{ totalQuantity }}</span>
</div>

<!-- Loader  -->
<div class="rds-loader-container" *ngIf="showLoader">
  <div class="rds-loader-icon fas fa-spinner fa-spin"></div>
  <div>{{ lblLoading }}</div>
</div>
